.details {
}

.date {
    text-align: right;
    font-weight: bold;
    line-height: 150%;
    color: #447294;
}

.description {
    float: left;
    /*
    float: left;
    */
    text-align: left;
    /*
    float: left;
    text-align: left;
    */
    font-weight: bold;
    line-height: 150%;
}

.name {
    font-size: x-large;
    /* 40px 2.5em 150%*/
    font-style: normal;
    /* line-height: 120%; */
    line-height: 150%;
}

a.name {
    color: #144955;
    text-decoration: none;
    outline: 0;
}
a.name:hover {
    color: #f14c37;
}
a.name:active {
}
a.name:link {
}
a.name:visited {
}



.project {
    /*
    padding-left: 30px;
    */
    /*
    background-color: red;
    width: 100%;
    */
}

.project.entry {
    /*
    padding-bottom: 30px;
    */
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*
    border-top: 2px solid #f14c38;
    */
    border-bottom: 1px solid #447294;
}

.project.container {
    /*
    background-color: gray;
    */
}

.boxstyle {
    /*
    padding-bottom: 30px;
    */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid #f14c38;
    /*
    border-top: 1px solid #144955;
    border-bottom: 1px solid #144955;
    border-left: 1px solid #144955;
    border-right: 1px solid #144955;
    */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    /*
    background-color: #f14c38;
    */
    /* h-pos v-pos blur spread color */
    /* box-shadow: 3px 3px 5px 1px #888888; */
    /* box-shadow: 3px 3px 5px 1px #144955; */
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2);
}


