.details {
}

.description {
    font-weight: bold;
    line-height: 150%;
}

.name {
    font-size: x-large;
    /* 40px 2.5em 150%*/
    font-style: normal;
    /* line-height: 120%; */
    line-height: 150%;
}

a.name {
    /*
    color: black;
    */
    color: #424242;
}

a.name:hover {
    color: #701112;
}
a.name:active {
/*
    color: green;
    */
}
a.name:link {
/*
    color: green;
    */
}
a.name:visited {
    /*
    color: green;
    color: #424242;
    */
}

.project {
    /*
    padding-left: 30px;
    */
}

.project.entry {
    /*
    padding-bottom: 30px;
    */
    padding-bottom: 30px;
}

.project.container {
    /*
    background-color: gray;
    */
}

